<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<table class='table'>
		<thead>
			<tr>
				<th>Имя</th>
				<th>Телефон</th>
				<th>Время записи</th>
				<th>Парикмахер</th>
			</tr>
		</thead>
		<tbody>
			<% @results.each do |row| %>
				<tr>
					<td><%= row['username'] %></td>
					<td><%= row['phone'] %></td>
					<td><%= row['datestamp'] %></td>
					<td><%= row['barber'] %></td>
				</tr>
			<% end %>
		</tbody>
	</table>


</body>
</html>